.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(4, minmax(100px, 1fr));
  grid-gap: 1rem;
  max-height: calc(100vh - 2rem);
}

.item1 {
  display: flex;
}
.item4 {
  display: flex;
}

.item2 {
  display: flex;
  grid-row: span 3;
  grid-column: span 2;
}
